body{
    background: color #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
#main-header{
    background-color: coral;
    color: rgb(255, 255, 255);
    border-bottom: 6px solid rgb(236, 236, 236);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;

}
/* a{
    color: cornsilk;
}
a:hover{
    color: rgb(150, 192, 255);
   
} */

#navb:hover{

    background-color: rgb(255, 255, 255);
    color: black;

}

#navbar{

    background-color: #333;
    color: #fff;
    margin: 1% 2% 0% 2%;
    border-radius: 15px;
}
#navbar {
    padding:13px;
}



#navb{

    background-color: #333;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;

}

#navbar button{

    display: inline;
}
#navbar a{
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: px;
}
.btn{
    float: right;
    padding: 6px 15px;
    background-color: rgb(133, 255, 119);
    background-position: 50px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(89, 172, 0);
    
}
#item{

    border: 3px solid grey;
    border-radius: 8px;
    background-color:  rgb(211, 255, 206);
    padding: 5px;
    
}
#item:hover{

    background-color: whitesmoke;
}



#submit{
    border: none;
    border-radius: 8px;
    background-color:  rgb(133, 255, 119);
    padding: 8px;
    margin-left: 7px;
    font-weight: bold;
}
#submit:hover{

    background-color:rgb(89, 172, 0) ;
    color: white;
}

#main{

    background-color: rgb(238, 255, 203);
    margin: 5% 10% 1% 10%;
    border-radius: 20px;
    padding-bottom:30px; 
}

#items li{

    background-color: rgb(238, 255, 203) ;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 ;
    font-weight: bold;
}
#delete{

    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#delete:hover{
    background-color: rgb(255, 38, 0);
    color: white;
    font-weight: bold;

}

#audio{

    margin-top: 15px;
    border-radius: 15px;
}

#audioname{

    background-color: rgb(61, 61, 61);
    color: #fff;
    margin: 1% 2% 0% 2%;
    width: 20%;
    padding: 3px 3px 3px 10px;
    border-radius: 10px;
    font-weight: bold;

}
#main-footer{
    background: #333;
    color:#fff;
    text-align: center;
    padding: 20px;
    margin-top: 200px;

    border-top: 8px solid rgb(197, 197, 197);
    border-top-left-radius:25px;
    border-top-right-radius: 25px;


    }

    @media(min-width:600px)  {
        #navbarM{
            display: none;
        }
        
    }
    
    
        
    @media(max-width:600px){
    #main{
        width: 85%;
        float: none;
    }
    #navbar{
        display: none;
    }
    
    #navbarM{
        background-color: #333;
        padding:13px;
        margin: 10px;
        border-radius: 15px;
    }
    #navbM{
        background-color: #333;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
    }
    #navbM:hover{
        background-color: rgb(255, 255, 255);
        color: black;
    }
    #navbMl:hover{
        background-color: rgb(0, 0, 0);
        color: rgb(207, 207, 207);
    }
    #navbMl{
        display:list-item;
        list-style: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        padding:  1px ;
        margin:  5px;
    }
    #mylinks{
        position: relative;
        display: none;
        
    }
    a{
        list-style: none;
        text-decoration: none;
    }

    #submit{
        margin-top: 10px;
    }
    }